{% extends 'base.html' %}

{% load static %}

{% block title %}
| My Account - {{user.username}}
{% endblock title %}

{% block style %}
<style>
    @media(max-width: 250px) {
        #avatar {
            height: 150px;
            width: 150px;
        }
    }

    @media (max-width: 200px) {
        #avatar {
            height: 100px;
            width: 100px;
        }
    }
</style>
{% endblock style %}


{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card border-white text-white p-5 align-items-center"
                style="background-color: teal; border-radius: 40px 40px 0 0;">
                <img src="../../{{user.avatar}}" alt="" class="rounded-circle border-dark" height="200px" width="200px"
                    id="avatar">
                <h2 class="mt-4">{{user.username}}</h2>
            </div>
        </div>
        <div class="col-lg-12 mt-1">
            <div class="card border-white table-responsive">
                <table class="table table-hover text-center">
                    <thead class="bg-info text-white">
                        <th scope="col">Item</th>
                        <th scope="col">Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="font-weight-normal">Full Name</th>
                            <td>{{user.full_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Email</th>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Phone</th>
                            <td>{{user.phone}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Address</th>
                            <td>{{user.address}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Gender</th>
                            <td>{% if user.gender == True %}Male {% else %}Female{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Date Of Birth</th>
                            <td>{{user.date_of_birth}}</td>
                        </tr>
                        {% if user.is_reporter == True %}
                        <tr>
                            <th scope="row" class="font-weight-normal">Reporter</th>
                            <td>{{user.is_reporter}}</td>
                        </tr>
                        {% endif %}
                        {% if user.is_superuser == True %}
                        <tr>
                            <th scope="row" class="font-weight-normal">Superuser</th>
                            <td>{{user.is_superuser}}</td>
                        </tr>
                        {% endif %}
                        {% if user.is_staff == True %}
                        <tr>
                            <th scope="row" class="font-weight-normal">Staff</th>
                            <td>{{user.is_staff}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12 mt-1 card border-white align-items-center">
            <a href="{% url 'account:edit' %}" class="btn btn-outline-primary p-2">Edit
                <svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
            </a>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}