{% extends 'base.html' %}

{% load static %}

{% block title %}
| Categort List
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-around">
        {% for i in data %}
        <div class="col-md-4">
            <div class="card mb-3 mx-auto">
                <a href="../post-by-category/{{i.id}}/">
                    <img src="../{{ i.img }}" alt="" class="card-img-top">
                    {% if i.new == True %}
                    <div class="card-img-overlay p-1">
                        <div class="btn btn-danger">
                            <span style="height: 20px;">
                                <svg height="1.2em" width="1.2em" aria-hidden="true" focusable="false" data-prefix="fas"
                                    data-icon="fire" class="svg-inline--fa fa-fire fa-w-12" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path fill="currentColor"
                                        d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        {% endif %}
                        {% if i.trending == True %}
                        <div class="btn btn-warning mt-1">
                            <span style="height: 20px;">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-graph-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-body text-capitalize">
                        <h3 class="card-title">{{i.name|truncatechars:30}}</h3>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col text-center">
            <span>Page {{data.number}} of {{data.paginator.num_pages}}</span>
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex flex-warp justify-content-center">
                    {% if data.has_previous %}
                    <li class="page-item">
                        <a href="?=page=1" class="page-link">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a href="?=page={{data.previous_page_number}}" class="page-link">previous</a>
                    </li>
                    {% endif %}
                    {% if data.has_next %}
                    <li class="page-item">
                        <a href="?=page={{data.next_page_number}}" class="page-link">next</a>
                    </li>
                    <li class="page-item">
                        <a href="?=page=1" class="page-link">last &laquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}