{% extends 'base.html' %}

{% load static %}

{% block title %}
| Categort List - {{ category_name.name }}
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="">
        <h4>Post Result: {{post}} </h4>
    </div>
    <div class="row justify-content-center">
        {% for i in data %}
        <div class="col-lg-5">
            <div class="card mb-3 mx-auto">
                <img src="{{i.image}}" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{i.title}}</h3>
                </div>
                <div class="card-footer">
                    <p class="text-muted">{{i.date_add}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}
