{% extends 'base-staff.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
| Add Category
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
        <div class="card">
            <div class="card-header bg-info text-white text-center">
                <h1>Add</h1>
            </div>
            <div class="card-body">
                <form action="" method="post" class="p-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Add" name="add" class="btn btn-outline-info mr-5">
                        <input type="submit" value="Add And Add Another" name="add-and-and-another" class="btn btn-outline-success">
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}

