{% extends 'base-staff.html' %}

{% load static %}

{% block title %}
| List Category
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="col-md-12">
        <div class="table-resposive">
            <table class="table table-hover">
                <thead class="bg-info text-white text-uppercase">
                    <th scope="col">Id</th>
                    <th scope="col">date add</th>
                    <th scope="col">name</th>
                    <th scope="col">Image</th>
                    <th scope="col">new</th>
                    <th scope="col">Trending</th>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td>
                            <a href="../category-list/{{i.id}}/">{{i.date_add}}</a>
                        </td>
                        <td>{{i.name}}</td>
                        <td>
                            <a href="../../{{i.img}}" target="_blank" rel="noopener noreferrer">Img</a>
                        </td>
                        {% if i.new == True %}
                        <td class="text-success">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        </td>
                        {% else %}
                        <td class="text-danger">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </td>
                        {% endif %}
                        {% if i.trending == True %}
                        <td class="text-success">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        </td>
                        {% else %}
                        <td class="text-danger">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col text-center">
            <span>Page {{data.number}} of {{data.paginator.num_pages}}</span>
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex flex-warp justify-content-center">
                    {% if data.has_previous %}
                    <li class="page-item">
                        <a href="?=page=1" class="page-link">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a href="?=page={{data.previous_page_number}}" class="page-link">previous</a>
                    </li>
                    {% endif %}
                    {% if data.has_next %}
                    <li class="page-item">
                        <a href="?=page={{data.next_page_number}}" class="page-link">next</a>
                    </li>
                    <li class="page-item">
                        <a href="?=page=1" class="page-link">last &laquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}