{% extends 'base.html' %}

{% load static %}

{% block title %}
| 404 - Page Not Found
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-9 ">
        <div class="card d-flex border-danger" style="background: linear-gradient(45deg, red, blue); border-radius: 2em;">
                <div class="card-content text-center text-capitalize text-white p-5">
                    <h1 class="display-2">OPPS</h1>
                    <h2 class="my-4" style="font-size: 9rem;">404</h2>
                    <p style="font-size: 30px;">Page Not Found</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}